#menu{
    color: #00b1e2;
}
#tooltip333589074{
    color: #002935e1;
}
#tooltip356693867{
    color: #002935e1;
}
#tooltip184698705{
    color: #002935e1;
}
#tooltip112445449{
    color: #002935e1;
}